body {
	background-color: blue;	
	color: white;

}

p {
	color: red;
}

#youtubeParagraph {
	color: red;
}

.instaPara{
	color: red;
}
#facebook {
	color: red;
}

#vgbootcamp {
	color:red;
}

.smashboards {
	color:red;
}

.scrub {
	color:red;
}
